<div class="layout-container">
  <%= render partial: "admin/shared/top_nav_bar" %>
  <%= render partial: "admin/shared/side_bar" %>

  <div class="sidebar-layout-obfuscator"></div>
  <!-- Main section-->
  <main class="main-container">
    <!-- Page content-->
    <section>
      <div class="content-heading bg-white">
        <div class="row">
          <div class="col-sm-9">
            <h4 class="m0 text-thin">Game: San Jose Spartans vs. LA Galaxy</h4>
            <!-- <small>Bootstrap admin dashboard template</small> -->
          </div>
<!--           <div class="col-sm-3 text-right hidden-xs">
            <button type="button" class="mt-sm btn btn-labeled btn-default ripple">Apps<span class="btn-label btn-label-right"><i class="ion-plus-round"></i></span></button>
          </div> -->
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6 col-lg-3">
            <div class="card">
              <div class="card-body pv">
                <div class="clearfix">
                  <div class="pull-left">
                    <h4 class="m0 text-thin">350</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-up-b"></em>Total orders</small>
                  </div>
                  <div class="pull-right mt-lg">
                    <div id="sparkline2" data-line-color="#4caf50" class="sparkline"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-3">
            <div class="card">
              <div class="card-body pv">
                <div class="clearfix">
                  <div class="pull-left">
                    <h4 class="m0 text-thin">10,200</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-up-b"></em>Orders delivered</small>
                  </div>
                  <div class="pull-right mt-lg">
                    <div id="sparkline1" data-line-color="#03A9F4" class="sparkline"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-3 visible-lg">
            <div class="card">
              <div class="card-body pv">
                <div class="clearfix">
                  <div class="pull-left">
                    <h4 class="m0 text-thin">880</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-up-b"></em>Runners</small>
                  </div>
                  <div class="pull-right mt-lg">
                    <div id="sparkline3" data-line-color="#ab47bc" class="sparkline"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-lg-3 visible-lg">
            <div class="card">
              <div class="card-body pv">
                <div class="clearfix">
                  <div class="pull-left">
                    <h4 class="m0 text-thin">780</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-up-b"></em>Payments made</small>
                  </div>
                  <div class="pull-right mt-lg">
                    <div id="sparkline4" data-line-color="#e91e63" class="sparkline"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-heading">
                <div class="card-title">Orders Statistics</div><small>Based on the last hours.</small>
              </div>
              <div class="card-body">
                <div id="bar-flotchart-orders-graph" class="flot-chart flot-chart-lg"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="card">
              <%= image_tag "stadium.png", style: "width:50%" %>
            </div>
          </div>
        </div>

      </div>
    </section>
  </main>

</div>
