<div class="callout">
  <div class="row column text-center">
    <%= image_tag "logo.png" %>
    <p class="lead">Simple Ordering Design</p>
  </div>
</div>

<div class="row column">
  <ul class="vertical medium-horizontal menu expanded text-center">
    <li><a href="#"><div class="stat">28</div><span>Orders</span></a></li>
    <li><a href="#"><div class="stat">43</div><span>Done</span></a></li>
  </ul>
</div>

<hr>

<div class="row small-up-1 medium-up-2 large-up-3">
  <% 10.times do |i| %>
    <div class="column">
      <div class="large-12 columns callout">
        <div class="large-6 medium-6 small-6 columns">
          <p>Order #123123</p>
        </div>
        <div class="large-6 medium-6 small-6 columns" style="text-align:right;">
          <b>11:17:30</b>
        </div>

        <div class="large-12 columns">
          <p>Ph# (503)-444-1111</p>
        </div>

        <hr>

        <div class="large-12 columns">
          <div class="large-4 medium-4 small-4 columns">
            <p>Section<br/><b>300</b></p>
          </div>
          <div class="large-4 medium-4 small-4 columns">
            <p>Row<br/><b>F</b></p>
          </div>
          <div class="large-4 medium-4 small-4 columns">
            <p>Seat<br/><b>Q</b></p>
          </div>
        </div>

        <hr>

        <% [2,3,4].sample.times do |i| %>
          <div class="large-12 columns">
            <div class="large-8 medium-8 small-8 columns">
              <%= ["Hotdog", "M Coke", "S Curly Fries", "Hamburger"].sample %>
            </div>
            <div class="large-4 medium-4 small-4 columns">
              <%= [1, 2, 3].sample %>
            </div>
          </div>
        <% end %>

        <div class="large-12 columns">
          <br/>
          <a href="#" class="button expanded">Mark as Done</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<hr>
