/* Home Page */
#panelDemo7 .panel-body {
  font-size: 12px;
}

.well #orders_pending, #orders_done {
  font-size: 24px;
}

.well h6.mt0 {
  font-size: 12px;
}

.panel-title {
  font-size: 12px;
}

.panel-footer .btn.btn-primary.btn-xl {
  font-size: 12px;
}

@media only screen and (min-width: 700px) {
  .grid-sizer,
  .grid-item {
    width: 25%;
  }
}

@media only screen and (min-width: 992px) {
  .grid-sizer,
  .grid-item {
    width: 20%;
  }
}
/* Home Page */

/***************************/

/* Admin */
h5.small-mt0 {
  font-size: 12px !important;
}

h6.small-mt0 {
  font-size: 12px !important;
  line-height: 0px;
  margin-bottom:0px;
}

.small-card-title {
  font-size: 12px !important;
}

.layout-container {
  font-size: 12px;
}

h2.header-title {
  font-size: 12px;
}

.m0.text-thin {
  font-size: 14px;
}
/* Admin */
