#panelDemo7 .panel-body {
  font-size: 12px;
}

.well #orders_pending, #orders_done {
  font-size: 24px;
}

.well h6.mt0 {
  font-size: 12px;
}

.panel-title {
  font-size: 12px;
}

.panel-footer .btn.btn-primary.btn-xl {
  font-size: 12px;
}

@media only screen and (min-width: 700px) {
  .grid-sizer,
  .grid-item {
    width: 25%;
  }
}

@media only screen and (min-width: 992px) {
  .grid-sizer,
  .grid-item {
    width: 20%;
  }
}
