<div class="layout-container">
  <%= render partial: "admin/shared/top_nav_bar" %>
  <%= render partial: "admin/shared/side_bar" %>

  <div class="sidebar-layout-obfuscator"></div>
  <!-- Main section-->
  <main class="main-container">
    <!-- Page content-->
    <section>
      <%= render partial: "admin/shared/game_header" %>

      <div class="container-fluid">

        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h6 class="mt0">Campaign Settings</h6>

                <h6 class="small-mt0 text-thin">Mascbot AI projected upsell users: <b>360-400</b></h6><br/>

                <h6 class="small-mt0 text-thin">Items: </h6><br/>
                <div class="col-lg-12">
                  <label class="checkbox-inline c-checkbox">
                    <input id="inlineCheckbox10" type="checkbox" value="option1"><span class="ion-checkmark-round"></span> Fries
                  </label>
                  <label class="checkbox-inline c-checkbox">
                    <input id="inlineCheckbox20" type="checkbox" value="option2"><span class="ion-checkmark-round"></span> Hotdog
                  </label>
                  <label class="checkbox-inline c-checkbox">
                    <input id="inlineCheckbox30" type="checkbox" value="option3"><span class="ion-checkmark-round"></span> Burger
                  </label>
                </div>

                <br/><br/>
                <h6 class="small-mt0 text-thin">Section: </h6><br/>
                <div class="col-lg-12">
                  <select name="account" class="form-control">
                    <option>Section #123</option>
                    <option>Section #345</option>
                    <option>Section #567</option>
                    <option>Section #789</option>
                  </select>
                </div>

                <br/><br/>
                
                <div class="col-lg-12"></div>

                <br/><br/>

                <h6 class="small-mt0 text-thin">Set upsell push time:</h6><br/>
                <div class="col-lg-12">
                  <div data-start="40" class="ui-slider-with-top-value mb-lg"></div>
                </div>

                <br/><br/>
              </div>

              <div class="card-body">
                <a type="button" class="btn btn-primary ripple">Set Campaign<span class="md-ripple"></span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <form method="get" action="/" class="form-horizontal">
                  <h6 class="mt0">Charts</h6>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <div class="checkbox c-checkbox">
                        <label>
                          <input type="checkbox" checked="" value=""><span class="ion-checkmark-round"></span> Targetted vs. Total
                        </label>
                      </div>
                      <div class="checkbox c-checkbox">
                        <label>
                          <input type="checkbox" value=""><span class="ion-checkmark-round"></span> Graph 2
                        </label>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card">
              <div class="card-heading">
                <div class="card-title small-card-title">Targetted Users vs. Total Users</div>
              </div>
              <div class="card-body">
                <div id="pie-flotchart-targetted-vs-total-users" class="flot-chart flot-chart-lg"></div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section>
  </main>
</div>
