<div class="content-heading bg-white">
  <div class="row">
    <div class="col-sm-6">
      <!-- <h6 class="m0 text-thin">Game: San Jose Earthquakes vs. LA Galaxy</h6> -->

      <div class="col-lg-12">
        <select name="account" class="form-control">
          <option>San Jose Earthquakes vs Los Angeles 24, March-16</option>
          <option>San Jose Earthquakes vs Los Angeles 24, March-23</option>
          <option>San Jose Earthquakes vs Los Angeles 24, March-30</option>
          <option>San Jose Earthquakes vs Los Angeles 24, April-07</option>
        </select>
      </div>

    </div>
<!--     <div class="col-sm-6 text-right">
      <h6 class="m0 text-thin"><%= current_date %></h6>
    </div> -->
  </div>
</div>
