<div class="content-heading bg-white">
  <div class="row">
    <div class="col-sm-6">
      <h6 class="m0 text-thin">Game: San Jose Earthquakes vs. LA Galaxy</h6>
    </div>
    <div class="col-sm-6 text-right">
      <h6 class="m0 text-thin"><%= current_date %></h6>
    </div>
  </div>
</div>
