<!-- sidebar-->
<aside class="sidebar-container">
  <div class="sidebar-header">
    <div class="pull-right pt-lg text-muted hidden"><em class="ion-close-round"></em></div><a href="#" class="sidebar-header-logo"><img src="/assets/logo.png" data-svg-replace="/assets/logo.svg" alt="Logo"><span class="sidebar-header-logo-text">Seatjoy</span></a>
  </div>
  <div class="sidebar-content">
    <div class="sidebar-toolbar text-center"><a href=""><img src="/assets/user/01.jpg" alt="Profile" class="img-circle thumb64"></a>
      <div class="mt">Welcome, Abhinav</div>
    </div>
    <nav class="sidebar-nav">
      <ul>
        <li><a href="dashboard.html" class="ripple"><span class="pull-right nav-label"><span class="badge bg-success">2</span></span><span class="nav-icon"><img src="" data-svg-replace="/assets/icons/aperture.svg" alt="MenuItem" class="hidden"></span><span>Dashboard</span></a></li>
        <li><a href="cards.html" class="ripple"><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="/assets/icons/radio-waves.svg" alt="MenuItem" class="hidden"></span><span>Reports</span></a></li>
        <li><a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="/assets/icons/connection-bars.svg" alt="MenuItem" class="hidden"></span><span>Inventory</span></a>
          <ul class="sidebar-subnav">
            <li><a href="flot.html" class="ripple"><span class="pull-right nav-label"></span><span>Flot</span></a></li>
            <li><a href="radial.html" class="ripple"><span class="pull-right nav-label"></span><span>Radial</span></a></li>
            <li><a href="rickshaw.html" class="ripple"><span class="pull-right nav-label"></span><span>Rickshaw</span></a></li>
          </ul>
        </li>
        <li><a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="/assets/icons/clipboard.svg" alt="MenuItem" class="hidden"></span><span>Settings</span></a>
          <ul class="sidebar-subnav">
            <li><a href="forms.classic.html" class="ripple"><span class="pull-right nav-label"></span><span>Classic</span></a></li>
            <li><a href="validation.html" class="ripple"><span class="pull-right nav-label"></span><span>Validation</span></a></li>
            <li><a href="forms.advanced.html" class="ripple"><span class="pull-right nav-label"></span><span>Advanced</span></a></li>
            <li><a href="material.html" class="ripple"><span class="pull-right nav-label"></span><span>Material</span></a></li>
            <li><a href="editor.html" class="ripple"><span class="pull-right nav-label"></span><span>Editors</span></a></li>
            <li><a href="dropzone.html" class="ripple"><span class="pull-right nav-label"></span><span>Dropzone</span></a></li>
            <li><a href="xeditable.html" class="ripple"><span class="pull-right nav-label"></span><span>xEditable</span></a></li>
          </ul>
        </li>
        <li><a href="#" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="/assets/icons/navicon.svg" alt="MenuItem" class="hidden"></span><span>Logout</span></a>
          <ul id="tables" class="sidebar-subnav">
            <li><a href="tables.classic.html" class="ripple"><span class="pull-right nav-label"></span><span>Classic</span></a></li>
            <li><a href="datatable.html" class="ripple"><span class="pull-right nav-label"></span><span>Datatable</span></a></li>
            <li><a href="bootgrid.html" class="ripple"><span class="pull-right nav-label"></span><span>Bootgrid</span></a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
<!-- sidebar -->
