<!-- sidebar-->
<aside class="sidebar-container">
  <div class="sidebar-header">
    <div class="pull-right pt-lg text-muted hidden"><em class="ion-close-round"></em></div><a href="#" class="sidebar-header-logo"><img src="/assets/logo3.png" data-svg-replace="/assets/logo3.svg" alt="Logo"><span class="sidebar-header-logo-text">Seatjoy</span></a>
  </div>

  <div class="sidebar-content">
    <div class="sidebar-toolbar text-center"><a href=""><img src="/assets/user/01.jpg" alt="Profile" class="img-circle thumb64"></a>
      <div class="mt">Welcome, Abhinav</div>
    </div>

    <nav class="sidebar-nav">
      <ul>
        <li>
          <a href="/admin" class="ripple">
            <span class="pull-right nav-label">
              <!-- <span class="badge bg-success">2</span> -->
            </span>
            <span class="nav-icon">
              <img src="" data-svg-replace="/assets/icons/aperture.svg" alt="MenuItem" class="hidden">
            </span>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/admin/reports" class="ripple">
            <span class="pull-right nav-label"></span>
            <span class="nav-icon">
              <img src="" data-svg-replace="/assets/icons/radio-waves.svg" alt="MenuItem" class="hidden">
            </span>
            <span>Reports</span>
          </a>
        </li>
        <li>
          <a href="#" class="ripple">
            <!-- <span class="pull-right nav-caret"><em class="ion-ios-arrow-right"></em></span> -->
            <span class="pull-right nav-label"></span>
            <span class="nav-icon">
              <img src="" data-svg-replace="/assets/icons/connection-bars.svg" alt="MenuItem" class="hidden">
            </span>
            <span>Inventory</span>
          </a>
<!--           <ul class="sidebar-subnav">
            <li><a href="flot.html" class="ripple"><span class="pull-right nav-label"></span><span>Flot</span></a></li>
            <li><a href="radial.html" class="ripple"><span class="pull-right nav-label"></span><span>Radial</span></a></li>
            <li><a href="rickshaw.html" class="ripple"><span class="pull-right nav-label"></span><span>Rickshaw</span></a></li>
          </ul> -->
        </li>
        <li>
          <a href="#" class="ripple">
            <span class="pull-right nav-label"></span>
            <span class="nav-icon">
              <img src="" data-svg-replace="/assets/icons/clipboard.svg" alt="MenuItem" class="hidden">
            </span>
            <span>Settings</span>
          </a>
        </li>
        <li>
          <a href="#" class="ripple">
            <span class="pull-right nav-label"></span>
            <span class="nav-icon">
              <img src="" data-svg-replace="/assets/icons/navicon.svg" alt="MenuItem" class="hidden">
            </span>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</aside>
<!-- sidebar -->
