<!-- top navbar-->
<header class="header-container">
  <nav>
    <ul class="visible-xs">
      <li><a id="sidebar-toggler" href="#" class="menu-link menu-link-slide"><span><em></em></span></a></li>
    </ul>
    <ul class="hidden-xs">
      <li><a id="offcanvas-toggler" href="#" class="menu-link menu-link-slide"><span><em></em></span></a></li>
    </ul>
    <h2 class="header-title">Dashboard</h2>
      <ul class="pull-right">
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle has-badge ripple">
          <em class="ion-person"></em>
        </a>
        <ul class="dropdown-menu dropdown-menu-right md-dropdown-menu">
          <li><a href="#"><em class="ion-gear-a icon-fw"></em>Docs</a></li>
          <li role="presentation" class="divider"></li>
          <li><a href="#"><em class="ion-log-out icon-fw"></em>Logout</a></li>
        </ul>
      </li>
      <li></li>
    </ul>
  </nav>
</header>
<!-- top navbar-->
