<!DOCTYPE html>
<html>
<head>
  <title>Seatjoy - Admin</title>
  <%= stylesheet_link_tag    "admin_smaller/application", media: "all" %>
  <%= javascript_include_tag "admin/application" %>
  <%= csrf_meta_tags %>
</head>
<body class="theme-1">

<%= yield %>

</body>
</html>
